/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/09/2019, 9:23:27 PM
    Author     : hanse
*/



    .box {
        padding: 20px 5px 10px 20px;
        max-width: 60%;  
        margin-right: 20px;
        margin-left: 240px;
        color: #0088cc;
    }
    
    .list{
        float: left;
         
        padding: 30px;
        
        margin: 0 220px;
        background-color: #e6f7ff;
        border-top: 1px solid #b3d9ff;  
    }
    
 
    
    .button-secondary {
        color: white;
        padding: 7.5px;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        background: #1C88CC;
    }
