/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/08/2019, 1:37:54 AM
    Author     : Michelle
*/

.unlinkBox {
    padding: 2%;
    border: 1px solid #00B1F5;
    border-radius: 5px;
    min-width: 60%;
    max-width: 70%;
    margin-left: 240px;
    margin-bottom: 100px;
    display: inline-block;
    color: #0088cc;
    height: auto;
    overflow: hidden;
}

.unlinkBox th, td {
    text-align: left;
    color: #0088cc;
    width: auto;
    height: 50px;
}
       
.unlinkBox h2 {
    margin-right: 10px;
}

.unlinkBox table {
    width: 100%;
}

.unlinkBox td input[type=submit]{
    background-color: #004d80;
    margin: 10% 30%;
    color: white;
    cursor: pointer;
    padding: 4px 10px;
    border: 0;
}

.unlinkBox td input[type=submit]:hover{
    opacity: 0.7;
}


/*wraps box and searchbox in main.jsp*/
.container {
    margin-left: 240px;
}

.box {
    float: left;
    padding: 2% 3%;
    border: 1px solid #00B1F5;
    border-radius: 5px;
    min-width: 40%;
    max-width: 60%;
    margin-bottom: 100px;
    margin-right: 5%;
    display: inline-block;
    color: #0088cc;
    height: auto;
    overflow: hidden;
}

.box th, td {
    text-align: left;
    color: #0088cc;
    width: auto;
    height: 50px;
}

       
.box h2 {
    margin-right: 10px;
}

.box table {
    width: 100%;
}

.box td input[type=submit]{
    background-color: #004d80;
    margin: 10% 30%;
    color: white;
    cursor: pointer;
    padding: 4px 10px;
    border: 0;
}

.box td input[type=submit]:hover{
    opacity: 0.7;
}

.searchBox {
    display: block;
    width: auto;
    max-width: 30%;
    border: 1px solid #00B1F5;
    border-radius: 5px;
    padding: 2% 3%;
    overflow: hidden;
    color: #0088cc;
}

.searchBox input[type=submit]{
    background-color: #004d80;
    float: right;
    margin: 10% 0 0 0;
    color: white;
    cursor: pointer;
    padding: 4px 10px;
    border: 0;
}

.searchBox h3, h6 {
    margin-bottom: 20px;
}

.searchBox input[type=submit]:hover{
    opacity: 0.7;
}
