/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/09/2019, 7:43:43 PM
    Author     : hanse
*/

.editprofile{
    
        float: left;
        width: 73%;
        height: 450px;
        padding: 30px;
        margin: 0 240px;
        border-radius: 5px;
        background-color: #e6f7ff;
        border-top: 1px solid #b3d9ff;  
        
}


table{
    margin-left:auto; 
    margin-right:auto;
    margin-top: 30px;
    
    width: 35%;
}
table, table th{
    border: 2px solid #008ED0;
    padding: 5px;
}

table td, table th {
  
  padding: 10px;
}

.update{
   
    width: 65px;
    background-color: #004d80;
    color: white;
    cursor: pointer;
    padding: 5px;
    border: 0;
}

button:hover{
    opacity: 0.7;
}